{% extends "layouts/base.html" %}

{% block title %}Events{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block nav_active_events %}active{% endblock %}
{% block content %}
<div ng-app="myApp" ng-controller="eventsGraphCtrl as myCtrl">
<div id="accordion" role="tablist" aria-multiselectable="true">
<div class="row">
  <div ng-repeat="g in myCtrl.graphs track by $index" class="col-sm-4">
    <div class="card">
      <div class="card-header" role="tab" id="heading[[g]]">
        <h5 class="mb-0">
          <a data-toggle="collapse" ng-href="#collapse[[g]]" aria-expanded="true" aria-controls="collapse[[g]]">
            [[g]]
          </a>
        </h5>
      </div>
      <div id="collapse[[g]]" class="collapse show" role="tabpanel" aria-labelledby="heading[[g]]">
        <div class="card-block">
          <div id="[[g]]" graph-container-shown="[[$index]]"></div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{% endblock %}
{% block footer %}
  <script src="{{ url_for('static', filename='js/events.js') }}"></script>
{% endblock %}